/* Extra small devices (phones, 600px and down) */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .checkout {
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
    }

    .checkout__ad {
        width: 100%;
        display: inline;
        position: relative;

    }
}

.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
    width: auto;
}

.checkout__ad {

    width: 100%;
    margin-bottom: 10px;
}

.checkout_title {
    margin-left: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}