
/* Extra small devices (phones, 600px and down) */

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 600px) {
  /* For tablets: */
 .home{
  flex-wrap: wrap;
 }
 .home .product{
  flex-wrap: wrap;
  flex-direction: column;
 }
 .home__row{
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 20px;
 
 }
 .home__image{
  margin-bottom: -20px;
 }
 
 .home__row .product__info{
  flex-wrap: wrap;
 }
 
}
*{
  box-sizing: border-box;
}
.home__container{
 flex-wrap: wrap;
 display: grid;
}

.home {
  /* display: flex; */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.home__image {
  
  width: 100%;
  z-index: -1;
  
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
  .home__row {  
    display: flex; 
    z-index: 1; 
    
   
   
  }